h1 {
    text-align: center;
}
#container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.item {
    display: flex;
    width: 100px;
    height: 130px;
    margin: 2px;
    background-color: aqua;
    flex-flow: column;
    border-radius: 10px;
}