
.kha {
    display: inline-block;
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
}
.kha1:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    transform: translate(-50%, 0);
    left: 50%;
    background-color: red;
    z-index: -1;
    transition: width 1s ease-in;
}

.kha1:hover:before{
    width: 100%;
}

.kha2::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: red;
    z-index: -1;
    transition: width 1s ease-in;
}
.kha2:hover:before{
    width: 100%;
}

.kha3::before {
    content: "";
    position: absolute;
    height: 0;
    width: 2px;
    top: 0;
    left: 0;
    background-color: red;
    z-index: -1;
    transition: height 0.25s linear, width 0.25s ease-in-out 0.25s;
}
.kha3:hover:before{
    height: 100%;
    width: 100%;
}

.kha4 span {
    position: absolute;
    background-color: red;
    display: block;
    transition: all 0.25s linear;
}

/* .kha4 span:nth-child(1) {
    top: 0;
    left: 0;
    height: 2px;
    width: 0;
} */
.kha4 span:nth-child(2) {
    top: 0;
    right: 0;
    height: 0;
    width: 2px;
    transition-delay: 0.25s;
}                                                                                                                   
/* .kha4 span:nth-child(3) {
    bottom: 0;
    right: 0;
    height: 2px;
    width: 0;
    transition-delay: 0.5s;
}

.kha4 span:nth-child(4) {
    bottom: 0;
    left: 0;
    height: 0;
    width: 2px;
    transition-delay: 0.75s;
} */

.kha4:hover span:nth-child(odd) {   
    width: 100%;
}

.kha4:hover span:nth-child(even) {
    height: 100%;
}
.box {
    margin-top: 20px;
    background-color: blue;
    height: 100px;
    width: 100px;
    transition: background-color 1s linear;
}


.box:hover {
    background-color: red;
    border-radius: 20%;
}