// bg-color, text-color, padding, border, border-radius, font-size, hover
@mixin styleButton ($bg, $color, $border-with, $shadow: none) {
    background-color: $bg;
    color: $color;
    padding: 20px 40px;
    border: $border-with solid $primary-color;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.5s;
    box-shadow: $shadow;
    &:hover{
        background-color: $color;
        color: $bg;
    }
}

@mixin styleText ($fs, $fw, $color, $transform: none) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
    text-transform: $transform;
}