$primary-color: #2a72dc;
$second-color: #1d355e;
$bg: #f6f9fe;
$yellow: #f9d310;
$third-color: white;

$text-title: 60px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 24px;
$text-3xl: 28px;
$text-4xl: 32px;

$box-shadow-white: 0 2px 4px white;

